<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Seapilot Navigation App</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/eurovator-seapilot.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<% include header.html %>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="column header">
      <center><img src="images/logo.png" alt="Seapilot" style="padding-top:60px"></center>
    </div>
    <div class="row">
      <div class="column">
        <h1>Successful registration</h1>
      <p>Next step is to verify your email address by clicking on the url provided in the email sent to your provided email address.
        After you verified your email you can download Seapilot to your device by using the links on the buttom of this page.</p>
        <br/>
        <span>After the app has been installed log in with the email and password provided by you during registration in previuos dialog.</span>
        <p>
        <% if (!formData.voucherCode ==  'Undefined') { %>
        span>After your trialperiod you can use the discount provided by your voucher code <b>"<%=formData.voucherCode%>"</b> by returning to <a href="https://www.seapilot.com">www.seapilot.com</a> so write down your voucher code for later use.<br>&nbsp;
        <% } else { %>
        After your trialperiod you can purchase chart license and navigation products by returning to <a href="https://www.seapilot.com">www.seapilot.com/us</a>
        <% }%>
        </p>
      <p>
          <a target="_blank" class="external-link" href="https://itunes.apple.com/se/app/seapilot-for-ipad/id495638350?mt=8">
            <img alt="" src="images/ipad.png" style="margin-right: 10px;" width="150">
          </a>
          <a target="_blank" class="external-link" href="https://itunes.apple.com/se/app/seapilot-for-iphone/id501937561?mt=8">
            <img alt="" src="images/iphone.png" style="margin-right: 10px;"  width="150">
          </a>
          <% if (!formData.isUSA) { %>
          <a target="_blank" class="external-link" href="http://apps.microsoft.com/windows/sv-se/app/4ad9a921-933a-4d9b-bf84-2c949552be4b">
            <img alt="" src="images/windows.png" style="margin-right: 10px;"  width="150">
          </a>
          <a target="_blank" class="external-link" href="https://play.google.com/store?hl=sv">
          <img alt="" src="images/gplay.png" style="margin-right: 10px;"  width="150">
          </a>
               <% } %>
        </p>
        </div>
    </div>
    <% include footer.html %>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
