<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
<title>Seapilot Navigation App</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/javascript">
      $(document).ready(function () {

        $('input[name^="table[row"]').click(function () {
          if ($(this).get(0).checked) {
             $.get( "?func=activate&deviceId="+ $(this).get(0).value, function( data) {
                    console.log(data);
                $("#devices").html('<span>Reloading...</span>');
         var i=0;
                 data.devices.forEach(function(device){
                  var checked = '';
               i++;

                });
                 $("#seapilot-activate-devices").submit();

             }, "json");

         } else {
            var checkbox = $(this).get(0);
            checkbox.checked = true;

         }
       });
      });
  </script>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/eurovator-seapilot.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<% include header.html %>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="column header">
      <center><img src="images/logo.png" alt="Seapilot" style="padding-top:60px"></center>
    </div>
    <div class="row">
      <div class="two-thirds column">
        <h1>Devices</h1>
      <p>
        <form action="/us/account/devices" method="post" id="seapilot-activate-devices" accept-charset="UTF-8">
          <div>
            <table style="position: fixed; top: 0px; left: 234px; visibility: hidden;" class="sticky-header">
              <thead style="display: block;">
                <tr><th class="select-all"><input title="Select all rows in this table" class="form-checkbox" type="checkbox"></th><th>Device</th> </tr>
              </thead>
            </table>
            <table class="sticky-enabled table-select-processed tableheader-processed sticky-table">
             <thead><tr><th class="select-all"><input title="Select all rows in this table" class="form-checkbox" type="checkbox"></th><th>Device</th> </tr></thead>
             <tbody id="devices" name="devices">
              <%
                  function isEven(n) {
                    return n == parseFloat(n)? !(n%2) : void 0;
                  }
                  var i = 0;
              if (devices != null && devices.length) { %>

              <% devices.forEach(function(device){ %>

               <% if(isEven(i)) { %>
                    <tr class="even">
                <% } else { %>
                   <tr class="odd">
                 <% }
                    var checked = "";
                    if(device.active)checked="checked='checked'";
                  %>
                  <td>
                    <div class="form-item form-type-checkbox form-item-table-row0">
                      <input id="edit-table-row0" name="table[row<%=i%>]" value="<%= device.id %>" <%=checked%>  class="form-checkbox" type="checkbox"/>
                    </div>
                  </td>
                  <td><%= device.description %></td>
                   <td><%= device.id %></td>
                </tr>
              <% }) %>
              <% i++; } %>
            </tbody>
          </table>
          <input name="device_id" value="356435050638764 351869051037631 357507054866119 358194051149515" type="hidden">
          <input name="type_id" value="com.seapilot.license.phone com.seapilot.license.phone com.seapilot.license.phone com.seapilot.license.phone" type="hidden">
          <input name="form_build_id" value="form-kfW4YaCmY454Itb_hGR4rJ0kVHV5w_VV67PbR-NRV-I" type="hidden">
          <input name="form_token" value="7SAVxKtr3cAKjVvq2onDf9GLCulib_lhX9yEEGpyDDs" type="hidden">
          <input name="form_id" value="seapilot_activate_devices" type="hidden">
        </div>
      </form>
        </p>
        <p>
          <a target="_blank" class="external-link" href="https://itunes.apple.com/se/app/seapilot-for-ipad/id495638350?mt=8">
            <img alt="" src="images/ipad.png" style="margin-right: 10px;" width="120">
          </a>
          <a target="_blank" class="external-link" href="https://itunes.apple.com/se/app/seapilot-for-iphone/id501937561?mt=8">
            <img alt="" src="images/iphone.png" style="margin-right: 10px;"  width="120">
          </a>
          <% if (!formData.isUSA) { %>
          <a target="_blank" class="external-link" href="http://apps.microsoft.com/windows/sv-se/app/4ad9a921-933a-4d9b-bf84-2c949552be4b">
            <img alt="" src="images/windows.png" style="margin-right: 10px;"  width="120">
          </a>
          <a target="_blank" class="external-link" href="https://play.google.com/store?hl=sv">
          <img alt="" src="images/gplay.png" style="margin-right: 10px;"  width="120">
          </a>
               <% } %>
        </p>
        </div>
        <div class="one-third column">
          <aside class="aside-primary app-page" role="complementary">
            <div class="panel-pane pane-menu-tree pane-main-menu sub-menu"><div class="pane-content nav nav-list nav-tabs nav-stacked"><div id="block-menu-menu-my-account" class="block block-menu">
              <div class="content">
                <ul class="menu"><li class="first leaf depth-1"><a href="../account/store" title="">Store</a></li>
                  <li class="leaf active-trail depth-1"><a href="../account/devices" title="" class="active-trail active">Devices</a></li>
                  <li class="last leaf depth-1"><a href="../account/logout" title="">Log out</a></li>
                </ul>  </div>
              </div>
            </div></div>
            <% include footer.html %>
          </aside>
        </div>
    </div>
    <% include footer.html %>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
