<footer class="site-bottom-primary clearfix" role="contentinfo">
      <div class="region-holder">
        <div class="panel-pane pane-panels-mini pane-footer">

  <div class="twelve">
  <div class="main-primary" role="main">

<table border="1" style="background-color:transparent;border-collapse:collapse;vertical-align:top!important;border:0px solid #FFF;color:#000000;width:100%" cellpadding="3" cellspacing="3">
  <tr>
    <td><h2 class="pane-title">Support/Helpdesk</h2>
<p><strong><span class="s1"><a href="mailto:support@seapilot.com">support@seapilot.com</a></span></strong></p><p><strong>+46 8 506 622 80</strong><br><span class="caption">(English and swedish)<br>9:00 am - 5:00 pm CET</span></p><p class="p1"><a href="/support" style="line-height: 1.538em;">Contact information</a></p><p><a href="#" style="line-height: 1.538em; text-decoration: underline;"><img alt="" src="https://us.seapilot.com/sites/us.seapilot.org/files/seapilot/ssl.png" style="width: 135px; height: 122px;"></a></p>
</td>

    <td><h2 class="pane-title">Chart suppliers</h2>
      <div id="stcpDiv" style="position: absolute; top: -1999px; left: -1988px;">Swedish Maritime Administration</div><div id="stcpDiv" style="position: absolute; top: -1999px; left: -1988px;">Swedish Maritime Administration</div><div id="stcpDiv" style="position: absolute; top: -1999px; left: -1988px;">Swedish Maritime Administration</div><div style="position: absolute; top: -1999px; left: -1988px;">&nbsp;</div><p><a target="_blank" class="external-link" href="http://www.nauticalcharts.noaa.gov/">U.S. &amp; Canada</a></p><p><a target="_blank" class="external-link" href="http://www.sjofartsverket.se/en/">Sweden</a></p><p><a target="_blank" class="external-link" href="http://eng.gst.dk">Denmark</a></p><p><a target="_blank" class="external-link" href="http://www.statkart.no/en/">Norway</a></p><p><a target="_blank" class="external-link" href="http://portal.liikennevirasto.fi/sivu/www/e/">Finland</a></p><p><a target="_blank" class="external-link" href="http://www.bsh.de/en/">Germany</a></p><p><a target="_blank" class="external-link" href="http://www.vta.ee/atp/?lang=en">Estonia</a></p><p><a target="_blank" class="external-link" href="http://www.jurasadministracija.lv/en/">Latvia</a></p>
</td>

    <td><h2 class="pane-title">Download App</h2>
        <p><a target="_blank" class="external-link" href="https://itunes.apple.com/us/app/seapilot/id915818783?ls=1&amp;mt=8">
    <img alt="" src="https://us.seapilot.com/sites/us.seapilot.org/files/seapilot/available_on_the_app_store_black.png" style="width: 150px; height: 45px;"></a></p><p>&nbsp;</p>
  </td>

    <td>
      <h2 class="pane-title">Links</h2>
      <p><a target="_blank" class="external-link" href="http://eu.seapilot.com">
  <img alt="" src="https://us.seapilot.com/sites/us.seapilot.org/files/seapilot/euro-flag-logo.png" style="width: 60px; height: 40px;"></a>
  <br>
  <a target="_blank" class="external-link" href="https://eu.seapilot.com" style="line-height: 1.538em;">European Website&nbsp;</a></p>
  <p><a href="http://us.seapilot.com"><img alt="" src="https://us.seapilot.com/sites/us.seapilot.org/files/seapilot/flag_us.png" style="width: 60px; height: 32px;"></a><br><a href="https://us.seapilot.com" style="line-height: 1.538em;">US Website</a></p>
</td>
  </tr>
</table>
