<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
<title>Seapilot Navigation App</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/eurovator-seapilot.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<% include header.html %>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" style="background:transparent;margin-top:0px!important">
    <div class="column header" style="background:transparent">
    <center><img src="images/logo.png" alt="Seapilot" style="padding-top:60px"></center>
    </div>
    <div class="row">
      <div class="column" style="background:#2b3653; color:#FFF;padding:40px;">
        <center><h1>Login</h1>
      <p style="color:#FFF;">Login to your <strong>Seapilot</strong> account by using your email and password.</p>

<div class="popups-container">
   <% if (errMessages != null && errMessages.length) { %>
       <div class="messages error">
     <ul>
       <% errMessages.forEach(function(errMessage){ %>
         <li><%= errMessage %></li>
       <% }) %>
     </ul>
      </div>
   <% } %>
<form class="user-info-from-cookie ctools-use-modal-processed" action="../us" method="post" accept-charset="UTF-8">

  <div>
<br/>
    <div class="field-type-text field-widget-text-textfield form-wrapper" id="edit-field-username" style="margin-right:0px;margin-bottom:0px;">
      <label for="edit-field-username">Username (email) <span class="form-required" title="This field is required.">*</span></label>
      <div id="field-first-name-add-more-wrapper">
        <div class="form-item form-type-textfield">
          <input class="text-full form-text required" id="edit-field-username-und-0-value" name="field_username" size="60" maxlength="60" type="text">
        </div>
      </div>
    </div>


    <div class="form-item form-type-password-confirm form-item-pass">
      <label for="edit-pass-pass1--2">Password <span class="form-required" title="This field is required.">*</span></label>
      <div class="form-item form-type-password form-item-pass-pass1 password-parent">
        <div class="password-strength">
          <div class="password-strength-text" aria-live="assertive"></div>
          <div class="password-indicator">
            <div class="indicator"></div>
          </div>
        </div>
      <input class="password-field form-text required password-processed" id="edit-pass-pass1" name="field_password" size="25" maxlength="128" type="password">
      </div>
    </div>
  </div>

  <div class="form-actions form-wrapper" id="edit-actions--2">
    <input id="edit-submit--2" name="op" value="Login" class="form-submit login" type="submit">
  </div>
</form>
</center>
        </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
