<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Seapilot Navigation App</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
     $('#edit-field-language-und').val('<%=formData.language%>');
      $('#edit-field-country-und').val('<%=formData.country%>');
       $('#edit-field-currency-und').val('<%=formData.currency%>');
 </script>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/eurovator-seapilot.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<% include header.html %>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" style="padding:0px">
    <div class="row">
      <div class="two-thirds column" style="padding:40px">
        <h1 style="font-size:38px;text-align:center">Register for a free trial version of Seapilot Navigation App</h1>
      <p>

<% if (errMessages != null && errMessages.length) { %>
    <div class="messages error">
  <ul>
    <% errMessages.forEach(function(errMessage){ %>
      <li><%= errMessage %></li>
    <% }) %>
  </ul>
   </div>
<% } %>
<br/>

<form class="user-info-from-cookie ctools-use-modal-processed" action="./trial" method="post" accept-charset="UTF-8">
  <div>
    <div class="field-type-text field-name-field-first-name field-widget-text-textfield form-wrapper" id="edit-field-first-name">
      <label for="edit-field-first-name-und-0-value--2">First Name <span class="form-required" title="This field is required.">*</span></label>
      <div id="field-first-name-add-more-wrapper">
        <div class="form-item form-type-textfield form-item-field-first-name-und-0-value">
          <input class="text-full form-text required" id="edit-field-first-name-und-0-value" name="field_first_name" value="<%=formData.firstName%>" size="60" maxlength="60" type="text">
        </div>
      </div>
    </div>

    <div class="field-type-text field-name-field-last-name field-widget-text-textfield form-wrapper" id="edit-field-last-name">
      <label for="edit-field-last-name-und-0-value--2">Last Name <span class="form-required" title="This field is required.">*</span></label>
      <div id="field-last-name-add-more-wrapper">
      <div class="form-item form-type-textfield form-item-field-last-name-und-0-value">
        <input class="text-full form-text required" id="field_last_name" name="field_last_name" value="<%=formData.lastName%>" size="60" maxlength="60" type="text">
      </div>
    </div>
  </div>

  <div id="edit-account" class="form-wrapper">
    <div class="form-item form-type-textfield ">
    <label for="email">E-mail address <span class="form-required" title="This field is required.">*</span></label>
    <input id="email" name="email" value="<%=formData.email%>" size="30" maxlength="254" class="form-text required" type="text">
  </div>

   <div id="edit-account-voucher" class="form-wrapper">
    <div class="form-item form-type-textfield ">
    <label for="edit-mail--2">Voucher code <span class="form-required" title="This field is required."></span></label>
    <input id="voucherCode" name="voucherCode" value="<%=formData.voucherCode%>" size="30" maxlength="254" class="form-text required" type="text">
  </div>

  <div class="form-item form-type-password-confirm form-item-pass">
    <div class="form-item form-type-password form-item-pass-pass1 password-parent">
      <label for="edit-pass-pass1--2">Password <span class="form-required" title="This field is required.">*</span></label>
      <div class="password-strength">
        <div class="password-strength-text" aria-live="assertive"></div>
        <div class="password-indicator">
          <div class="indicator"></div>
        </div>
      </div>
    <input class="password-field form-text required password-processed" id="edit-pass-pass1" name="pass[pass1]" size="25" maxlength="128" type="password">
  </div>

  <div class="form-item form-type-password form-item-pass-pass2 confirm-parent">
    <label for="edit-pass-pass2--2">Confirm password <span class="form-required" title="This field is required.">*</span></label>
  <input class="password-confirm form-text required" id="edit-pass-pass2" name="pass[pass2]" size="25" maxlength="128" type="password">
</div>
</div>
<input name="timezone" value="Europe/Stockholm" type="hidden">
<input name="affiliateId" value="<%=formData.affiliateId%>" type="hidden">
  <input name="isUSA" value="<%=formData.isUSA%>" type="hidden">
</div>

<div class="field-type-list-text field-name-field-language field-widget-options-select form-wrapper" id="edit-field-language">
<div class="form-item form-type-select form-item-field-language-und">
    <label for="edit-field-language-und" style="width: 30%;">Language <span class="form-required" title="This field is required.">*</span></label>

<select id="edit-field-language-und" name="field_language[und]" class="form-select required">
<option value="_none">- Select a value -</option>
<option value="sv">Swedish</option>
<option value="en">English</option>
</select>
</div>
</div>
<div class="field-type-list-text field-name-field-currency field-widget-options-select form-wrapper" id="edit-field-currency">
<div class="form-item form-type-select form-item-field-currency-und">
<label for="edit-field-currency-und" style="width: 30%;">Currency <span class="form-required" title="This field is required.">*</span></label>
<select id="edit-field-currency-und" name="field_currency[und]" class="form-select required">
<option value="_none">- Select a value -</option>
<option value="SEK">SEK</option>
<option value="USD">USD</option>
<option value="EUR">EUR</option>
<option value="NOK">NOK</option>
<option value="GBP">GBP</option>
</select>
</div>
</div>
<div class="field-type-list-text field-name-field-country field-widget-options-select form-wrapper" id="edit-field-country">
<div class="form-item form-type-select form-item-field-country-und">
<label for="edit-field-country-und" style="width: 30%;">Country <span class="form-required" title="This field is required.">*</span></label>
<select id="edit-field-country-und" name="field_country[und]" class="form-select required">
<option value="_none">- Select a value -</option>
<option value="USA">United States</option>
<option value="AND">Andorra</option>
<option value="AFG">Afghanistan</option>
<option value="ATG">Antigua and Barbuda</option>
<option value="AIA">Anguilla</option>
<option value="ALB">Albania</option>
<option value="ARM">Armenia</option>
<option value="ANT">Netherlands Antilles</option>
<option value="AGO">Angola</option>
<option value="ATA">Antarctica</option>
<option value="ARG">Argentina</option>
<option value="ASM">American Samoa</option>
<option value="AUT">Austria</option>
<option value="AUS">Australia</option>
<option value="ABW">Aruba</option>
<option value="AZE">Azerbaijan</option>
<option value="BIH">Bosnia and Herzegovina</option>
<option value="BRB">Barbados</option>
<option value="BGD">Bangladesh</option>
<option value="BEL">Belgium</option>
<option value="BFA">Burkina Faso</option>
<option value="BGR">Bulgaria</option>
<option value="BHR">Bahrain</option>
<option value="BDI">Burundi</option>
<option value="BEN">Benin</option>
<option value="BLM">Saint Barthelemy</option>
<option value="BMU">Bermuda</option>
<option value="BRN">Brunei</option>
<option value="BOL">Bolivia</option>
<option value="BES">Bonaire, Sint Eustatius and Saba</option>
<option value="BRA">Brazil</option>
<option value="BHS">Bahamas</option>
<option value="BTN">Bhutan</option>
<option value="BVT">Bouvet Island</option>
<option value="BWA">Botswana</option>
<option value="BLR">Belarus</option>
<option value="BLZ">Belize</option>
<option value="CAN">Canada</option>
<option value="CCK">Cocos Islands</option>
<option value="COD">The Democratic Republic Of Congo</option>
<option value="CAF">Central African Republic</option>
<option value="COG">Congo</option>
<option value="CHE">Switzerland</option>
<option value="CIV">Cote d'Ivoire</option>
<option value="COK">Cook Islands</option>
<option value="CHL">Chile</option>
<option value="CMR">Cameroon</option>
<option value="CHN">China</option>
<option value="COL">Colombia</option>
<option value="CRI">Costa Rica</option>
<option value="CUB">Cuba</option>
<option value="CPV">Cape Verde</option>
<option value="CUW">Curacao</option>
<option value="CXR">Christmas Island</option>
<option value="CYP">Cyprus</option>
<option value="CZE">Czech Republic</option>
<option value="DEU">Germany</option>
<option value="DJI">Djibouti</option>
<option value="DNK">Denmark</option>
<option value="DMA">Dominica</option>
<option value="DOM">Dominican Republic</option>
<option value="DZA">Algeria</option>
<option value="ECU">Ecuador</option>
<option value="EST">Estonia</option>
<option value="EGY">Egypt</option>
<option value="ESH">Western Sahara</option>
<option value="ERI">Eritrea</option>
<option value="ESP">Spain</option>
<option value="ETH">Ethiopia</option>
<option value="FIN">Finland</option>
<option value="FJI">Fiji</option>
<option value="FLK">Falkland Islands</option>
<option value="FSM">Micronesia</option>
<option value="FRO">Faroe Islands</option>
<option value="FRA">France</option>
<option value="GAB">Gabon</option>
<option value="GBR">United Kingdom</option>
<option value="GRD">Grenada</option>
<option value="GEO">Georgia</option>
<option value="GUF">French Guiana</option>
<option value="GGY">Guernsey</option>
<option value="GHA">Ghana</option>
<option value="GIB">Gibraltar</option>
<option value="GRL">Greenland</option>
<option value="GMB">Gambia</option>
<option value="GIN">Guinea</option>
<option value="GLP">Guadeloupe</option>
<option value="GNQ">Equatorial Guinea</option>
<option value="GRC">Greece</option>
<option value="SGS">South Georgia And The South Sandwich Islands</option>
<option value="GTM">Guatemala</option>
<option value="GUM">Guam</option>
<option value="GNB">Guinea-Bissau</option>
<option value="GUY">Guyana</option>
<option value="HKG">Hong Kong</option>
<option value="HMD">Heard Island And McDonald Islands</option>
<option value="HND">Honduras</option>
<option value="HRV">Croatia</option>
<option value="HTI">Haiti</option>
<option value="HUN">Hungary</option>
<option value="IDN">Indonesia</option>
<option value="IRL">Ireland</option>
<option value="ISR">Israel</option>
<option value="IMN">Isle Of Man</option>
<option value="IND">India</option>
<option value="IOT">British Indian Ocean Territory</option>
<option value="IRQ">Iraq</option>
<option value="IRN">Iran</option>
<option value="ISL">Iceland</option>
<option value="ITA">Italy</option>
<option value="JEY">Jersey</option>
<option value="JAM">Jamaica</option>
<option value="JOR">Jordan</option>
<option value="JPN">Japan</option>
<option value="KEN">Kenya</option>
<option value="KGZ">Kyrgyzstan</option>
<option value="KHM">Cambodia</option>
<option value="KIR">Kiribati</option>
<option value="COM">Comoros</option>
<option value="KNA">Saint Kitts And Nevis</option>
<option value="PRK">North Korea</option>
<option value="KOR">South Korea</option>
<option value="KWT">Kuwait</option>
<option value="CYM">Cayman Islands</option>
<option value="KAZ">Kazakhstan</option>
<option value="LAO">Laos</option>
<option value="LBN">Lebanon</option>
<option value="LCA">Saint Lucia</option>
<option value="LIE">Liechtenstein</option>
<option value="LKA">Sri Lanka</option>
<option value="LBR">Liberia</option>
<option value="LSO">Lesotho</option>
<option value="LTU">Lithuania</option>
<option value="LUX">Luxembourg</option>
<option value="LVA">Latvia</option>
<option value="LBY">Libya</option>
<option value="MAR">Morocco</option>
<option value="MCO">Monaco</option>
<option value="MDA">Moldova</option>
<option value="MNE">Montenegro</option>
<option value="MAF">Saint Martin</option>
<option value="MDG">Madagascar</option>
<option value="MHL">Marshall Islands</option>
<option value="MKD">Macedonia</option>
<option value="MLI">Mali</option>
<option value="MMR">Myanmar</option>
<option value="MNG">Mongolia</option>
<option value="MAC">Macao</option>
<option value="MNP">Northern Mariana Islands</option>
<option value="MTQ">Martinique</option>
<option value="MRT">Mauritania</option>
<option value="MSR">Montserrat</option>
<option value="MLT">Malta</option>
<option value="MUS">Mauritius</option>
<option value="MDV">Maldives</option>
<option value="MWI">Malawi</option>
<option value="MEX">Mexico</option>
<option value="MYS">Malaysia</option>
<option value="MOZ">Mozambique</option>
<option value="NAM">Namibia</option>
<option value="NCL">New Caledonia</option>
<option value="NER">Niger</option>
<option value="NFK">Norfolk Island</option>
<option value="NGA">Nigeria</option>
<option value="NIC">Nicaragua</option>
<option value="NLD">Netherlands</option>
<option value="NOR">Norway</option>
<option value="NPL">Nepal</option>
<option value="NRU">Nauru</option>
<option value="NIU">Niue</option>
<option value="NZL">New Zealand</option>
<option value="OMN">Oman</option>
<option value="PAN">Panama</option>
<option value="PER">Peru</option>
<option value="PYF">French Polynesia</option>
<option value="PNG">Papua New Guinea</option>
<option value="PHL">Philippines</option>
<option value="PAK">Pakistan</option>
<option value="POL">Poland</option>
<option value="SPM">Saint Pierre And Miquelon</option>
<option value="PCN">Pitcairn</option>
<option value="PRI">Puerto Rico</option>
<option value="PSE">Palestine</option>
<option value="PRT">Portugal</option>
<option value="PLW">Palau</option>
<option value="PRY">Paraguay</option>
<option value="QAT">Qatar</option>
<option value="REU">Reunion</option>
<option value="ROU">Romania</option>
<option value="SRB">Serbia</option>
<option value="RUS">Russia</option>
<option value="RWA">Rwanda</option>
<option value="SAU">Saudi Arabia</option>
<option value="SLB">Solomon Islands</option>
<option value="SYC">Seychelles</option>
<option value="SDN">Sudan</option>
<option value="SWE">Sweden</option>
<option value="SGP">Singapore</option>
<option value="SHN">Saint Helena</option>
<option value="SVN">Slovenia</option>
<option value="SJM">Svalbard And Jan Mayen</option>
<option value="SVK">Slovakia</option>
<option value="SLE">Sierra Leone</option>
<option value="SMR">San Marino</option>
<option value="SEN">Senegal</option>
<option value="SOM">Somalia</option>
<option value="SUR">Suriname</option>
<option value="STP">Sao Tome And Principe</option>
<option value="SLV">El Salvador</option>
<option value="SXM">Sint Maarten (Dutch part)</option>
<option value="SYR">Syria</option>
<option value="SWZ">Swaziland</option>
<option value="TCA">Turks And Caicos Islands</option>
<option value="TCD">Chad</option>
<option value="ATF">French Southern Territories</option>
<option value="TGO">Togo</option>
<option value="THA">Thailand</option>
<option value="TJK">Tajikistan</option>
<option value="TKL">Tokelau</option>
<option value="TLSTimor-Leste">TLSTimor-Leste</option>
<option value="TKM">Turkmenistan</option>
<option value="TUN">Tunisia</option>
<option value="TON">Tonga</option>
<option value="TUR">Turkey</option>
<option value="TTO">Trinidad and Tobago</option>
<option value="TUV">Tuvalu</option>
<option value="TWN">Taiwan</option>
<option value="TZA">Tanzania</option>
<option value="ARE">United Arab Emirates</option>
<option value="UKR">Ukraine</option>
<option value="UGA">Uganda</option>
<option value="UMI">United States Minor Outlying Islands</option>
<option value="URY">Uruguay</option>
<option value="UZB">Uzbekistan</option>
<option value="VAT">Vatican</option>
<option value="VCT">Saint Vincent And The Grenadines</option>
<option value="VEN">Venezuela</option>
<option value="VGB">British Virgin Islands</option>
<option value="VIR">U.S. Virgin Islands</option>
<option value="VNM">Vietnam</option>
<option value="VUT">Vanuatu</option>
<option value="WLF">Wallis And Futuna</option>
<option value="WSM">Samoa</option>
<option value="YEM">Yemen</option>
<option value="MYT">Mayotte</option>
<option value="ZAF">South Africa</option>
<option value="ZMB">Zambia</option>
<option value="ZWE">Zimbabwe</option></select>
</div>
</div>
<div class="form-actions form-wrapper" id="edit-actions--2">
<input id="edit-submit--2" name="op" value="Register" class="form-submit" type="submit">
</div>
</div>
</form>
        </p>
      </div></div>
        <div class="one-third column" style="font-family: 'Roboto Slab', serif;background:#2b3653 url(images/map-bg);background-size:cover;color:#FFF;padding:40px;">
        <h5>Getting started with the free trial version.</h5>
        <p>Download the Seapilot Navigation app and try it for free for 36 hours at no cost or obligation for continued use. </p>
          <p>Once you have registered you will receive an e-mail to confirm. <br/><br/>Then download the app and log in. After the trial period,
          you decide if you want to buy nautical charts or additional features.</p>

          <h6 style="margin-bottom:10px">Support/Helpdesk</h6>
          <span class="mail"> <a href="mailto:support@seapilot.com" target="_blank">support@seapilot.com</a></span><br/>
          <span class="phone"> <a href="tel:+46850662280">+46 8 506 622 80</a></span><br/>
          (English and Swedish)

        </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
