<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
    <title>Seapilot Navigation App</title>
  <meta name="description" content="">
  <meta name="author" content="">
<script type="text/javascript">
    $(document).ready(function () {

        <% if (prepurchaseitems != null && prepurchaseitems.items != null && prepurchaseitems.items.length) { %>
           <% prepurchaseitems.items.forEach(function(product){ %>
                // Make sure all items in session are checked
                 $('#ProductId_<%=product.productId%>').attr('checked',true);
            <%  }); %>
      <%  } %>
      $('input[id^="ProductId_"]').click(function () {
        if ($(this).get(0).checked) {
           // do what you need here
           //add_products
           var checkbox = $(this).get(0);
           $.get( "?func=add_products&productId="+ $(this).get(0).id, function( data ) {

               if(data.length == 2) {
                    console.log('1data checked=' +checkbox.checked);
                   checkbox.checked = false;
               } else  {
               // Insert the result in list
          // alert($("#shopping_cart").html(''));
          $("#shopping_cart").html('');
             data.items.forEach(function(product){
                    $("#shopping_cart").append('<li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;"><div style="margin-left:5px"><span >' + product.productDescription + '</span></div><div style="text-align:right"><span style=" color: #FF0000;" > ' + product.amount.amountExclVat.amount + ' ' +  product.amount.amountExclVat.currency + ' </span> </div></div></li>');
              });

               $("#shopping_cart").append('<li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;" ><div><div style="margin-left:5px;margin-top:15px"><span></span></div><div style="text-align:right"><span style=" color: #FF0000;">VAT </span> <span style=" color: #FF0000;" >' + data.totalAmount.amount.vat.amount.amount + ' ' + data.totalAmount.amount.vat.amount.currency + '</span> </div></div></li>	');
               $("#shopping_cart").append('<li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;" ><div><div style="margin-left:5px;margin-top:15px"><span></span></div><div style="text-align:right"><span style=" color: #FF0000;">Total price </span> <span style=" color: #FF0000;" >' + data.totalAmount.amount.amountIncVat.amount + ' ' + data.totalAmount.amount.amountIncVat.currency + '</span> </div></div></li>	');
            $("#total_shopping").html('Total: ' + data.totalAmount.amount.amountIncVat.amount + ' ' + data.totalAmount.amount.amountIncVat.currency);

                }
        }, "json");

        }
        else {
           // do what you need here
           $.get( "?func=del_product&productId=" + $(this).get(0).id, function( data ) {
             console.log('returning');
               if(data=='{}') {
                 $(this).get(0).attr('checked','checked');
                 $("#shopping_cart").html('');
               } else {
                 $("#shopping_cart").html('');
                   data.items.forEach(function(product){
                $("#shopping_cart").append('<li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;"><div style="margin-left:5px"><span >' + product.productDescription + '</span></div><div style="text-align:right"><span style=" color: #FF0000;" > ' + product.amount.amountExclVat.amount + ' ' +  product.amount.amountExclVat.currency + '</span> </div></div></li>');
             });

             if(data.totalAmount == null) {
                 $("#shopping_cart").append('<li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;" ><div><div style="margin-left:5px;margin-top:15px"><span></span></div><div style="text-align:right"><span style=" color: #FF0000;">VAT </span> <span style=" color: #FF0000;" >0</span> </div></div></li>	');
                 $("#shopping_cart").append('<li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;" ><div><div style="margin-left:5px;margin-top:15px"><span></span></div><div style="text-align:right"><span style=" color: #FF0000;">Total price </span> <span style=" color: #FF0000;" >0</span> </div></div></li>	');
                 $("#total_shopping").html('Total: 0');
             } else {
                 $("#shopping_cart").append('<li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;" ><div><div style="margin-left:5px;margin-top:15px"><span></span></div><div style="text-align:right"><span style=" color: #FF0000;">VAT </span> <span style=" color: #FF0000;" >' + data.totalAmount.amount.vat.amount.amount + ' ' + data.totalAmount.amount.vat.amount.currency + '</span> </div></div></li>	');
                 $("#shopping_cart").append('<li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;" ><div><div style="margin-left:5px;margin-top:15px"><span></span></div><div style="text-align:right"><span style=" color: #FF0000;">Total price </span> <span style=" color: #FF0000;" >' + data.totalAmount.amount.amountIncVat.amount + ' ' + data.totalAmount.amount.amountIncVat.currency + '</span> </div></div></li>	');
             $("#total_shopping").html('Total: ' + data.totalAmount.amount.amountIncVat.amount + ' ' +  data.totalAmount.amount.amountIncVat.currency);
             }


         }
             }, "json");

        }
      });

  });
</script>


  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/eurovator-seapilot.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<% include header.html %>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="column header">
      <center><img src="images/logo.png" alt="Seapilot" style="padding-top:60px"></center>
    </div>
    <div class="row">
      <div class="two-thirds column">
        <h1>Store</h1>

      <p>
      <div id="mobile-shopping-basket" style="display: none;" class="shopping">
          <span style="background:url('../images/shopping-cart.jpg');width:24px;height:25px;float:left"/>  </span>
               <% if (prepurchaseitems != null && prepurchaseitems.items != null && prepurchaseitems.items.length) { %>
              <span id="total_shopping" style="margin-left:10px;margin-top:0px;text-align:center;padding-bottom: 8px">Total: <%=prepurchaseitems.totalAmount.amount.amountIncVat.amount%></span>
            <%  }  else {%>
              <span id="total_shopping" style="margin-left:10px;margin-top:0px;text-align:center;padding-bottom: 8px">Total: 0</span>
              <%  } %>
                  <a href="/account/prepurchase"><span class="mobile_nav_checkout" >CHECKOUT</span></a>

        </div>
    <form action="../account/store" method="post" id="phone-apps-store" accept-charset="UTF-8">
      <div>

             <br>
        <div id="edit-title1" class="form-item form-type-item">
          <h5>Chart subscriptions (one year)</h5>
        </div>

           <%if (products != null && products.chartSubsciptions.length) { %>
            <% products.chartSubsciptions.forEach(function(product){ %>
        <div class="form-item form-type-checkboxes form-item-my-product">
          <div id="edit-my-product" class="form-checkboxes">
            <div class="form-item form-type-checkbox form-item-my-product-24">
              <%

                             var purchased = false;
                             var expired = false;
                             var trial = false;
                             console.log(product.tags);
                             for(p in product.tags){
                               console.log('looping=' + p);
                     if(product.tags[p] == "PURCHASED")
                        purchased = true;
                      if(product.tags[p] == "EXPIRED")
                        expired = true;
                      if(product.tags[p] == "TRIAL")
                        trial = true;


                  }
                            if(expired)purchased = false;
              if(purchased && !trial){ %>
                <input id="ProductId_<%=product.paymentIqProductId %>" name="my_product[24]" value="24" class="form-checkbox" type="checkbox" disabled>
              <%} else { %>
                <input id="ProductId_<%=product.paymentIqProductId %>" name="my_product[24]" value="24" class="form-checkbox" type="checkbox">
              <%} %>

              <label class="option" for="edit-my-product-24">
                <span class="check_class">
                  <span class="dis_item"><%=product.displayName %></span>
                   <%
                   console.log('product.voucherAmountIncVat=' + product.voucherAmountIncVat);
                     if(purchased && !trial){ %>
                        <span class="amount_item" style=" color: #000000;">PURCHASED</span>
                     <% } else if(trial){ %>
                        <span class="amount_item" style=" color: #000000;">TRIAL</span>
                     <% } else { %>
                       <% if (product.voucherAmountIncVat != null) { %>
                       <span class="amount_item" style=" color: #FF0000;"><%=product.amountIncVat %> <br><br>Discount price:<br> <%=product.voucherAmountIncVat %></span>
                    <% } else {%>
                      <span class="amount_item"><%=product.amountIncVat %></span>
                    <%} }%>
                </span>
              </label>
            </div>
          </div>
        </div>

        <% }) %>
       <%} %>

        <div id="edit-title2" class="form-item form-type-item">
          <h5>Other subscriptions (one year)</h5>
        </div>

           <%if (products != null && products.otherSubsciptions.length) { %>
            <% products.otherSubsciptions.forEach(function(product){ %>

        <div class="form-item form-type-checkboxes form-item-my-subcriptions">
          <div id="edit-my-subcriptions" class="form-checkboxes">
            <div class="form-item form-type-checkbox form-item-my-subcriptions-11">

              <%
               var purchased = false;
                             var expired = false;
                             var trial = false;
                             console.log(product.tags);
                             for(p in product.tags){
                     if(product.tags[p] == "PURCHASED")
                        purchased = true;
                      if(product.tags[p] == "EXPIRED")
                        expired = true;
                      if(product.tags[p] == "TRIAL")
                        trial = true;


                  }
                            if(expired)purchased = false;
              if(purchased && !trial){ %>
                <input id="ProductId_<%=product.paymentIqProductId %>" name="my_subcriptions[11]" value="11" class="form-checkbox" type="checkbox" disabled>
              <%} else { %>
                <input id="ProductId_<%=product.paymentIqProductId %>" name="my_subcriptions[11]" value="11" class="form-checkbox" type="checkbox">
              <%} %>
              <label class="option" for="edit-my-subcriptions-11">
                <span class="check_class">
                  <span class="dis_item"><%=product.displayName %></span>

                                     <%
                     if(purchased && !trial){ %>
                        <span class="amount_item" style=" color: #000000;">Purchased</span>
                     <% } else if (trial){ %>
                        <span class="amount_item" style=" color: #000000;">Trial</span>
                  <% } else { %>
                   <% if (product.voucherAmountIncVat != null) { %>
                     <span class="amount_item" style=" color: #FF0000;"><%=product.amountIncVat %> <br><br>Discount price:<br> <%=product.voucherAmountIncVat %></span>

                    <% } else {%>
                      <span class="amount_item"><%=product.amountIncVat %></span>
                   <%} }%>
                </span>
              </label>

            </div>
          </div>
        </div>

        <% }) %>
       <%} %>

        <div id="edit-title2" class="form-item form-type-item">
          <label for="edit-title2" class="cart-title">Navigation tools</label>
        </div>

           <%if (products != null && products.navTools.length) { %>
            <% products.navTools.forEach(function(product){ %>

        <div class="form-item form-type-checkboxes form-item-my-subcriptions">
          <div id="edit-my-subcriptions" class="form-checkboxes">
            <div class="form-item form-type-checkbox form-item-my-subcriptions-11">
              <%
                             var purchased = false;
                             var expired = false;
                             var trial = false;
                             console.log(product.tags);
                             for(p in product.tags){
                               console.log('looping=' + p);
                     if(product.tags[p] == "PURCHASED")
                        purchased = true;
                      if(product.tags[p] == "EXPIRED")
                        expired = true;
                      if(product.tags[p] == "TRIAL")
                        trial = true;


                  }
                            if(expired)purchased = false;
              if(purchased && !trial){ %>
                <input id="ProductId_<%=product.paymentIqProductId %>" name="my_subcriptions[11]" value="11" class="form-checkbox" type="checkbox" disabled>
              <%} else { %>
                  <input id="ProductId_<%=product.paymentIqProductId %>" name="my_subcriptions[11]" value="11" class="form-checkbox" type="checkbox">
              <%} %>

              <label class="option" for="edit-my-subcriptions-11">
                <span class="check_class">
                  <span class="dis_item"><%=product.displayName %></span>

                <%  if(purchased && !trial){ %>
                        <span class="amount_item" style=" color: #000000;">PURCHASED</span>
                    <% } else if(trial){ %>
                        <span class="amount_item" style=" color: #000000;">TRIAL</span>
                     <% } else { %>
                   <% if (product.voucherAmountIncVat != null) { %>
                       <span class="amount_item" style=" color: #FF0000;"><%=product.amountIncVat %> <br><br>Discount price:<br><%=product.voucherAmountIncVat %></span>
                    <% } else {%>
                      <span class="amount_item"><%=product.amountIncVat %></span>
                    <%}}  %>
                </span>
              </label>

            </div>
          </div>
        </div>

        <% }) %>
       <%} %>

        <div id="edit-title3" class="form-item form-type-item">
          <h5>Voucher code </h5>
        </div>

        <div class="form-item form-type-textfield form-item-vouchercode">
          <input id="edit-vouchercode" name="vouchercode" value="" size="60" maxlength="128" class="form-text" type="text">
          <input id="edit-submit" name="op" value="Redeem Voucher" class="form-submit" type="submit">
        </div>

        <input name="form_build_id" value="form-tSa9DBDrvUYWth-4wKNlnJ2PUfoskK6B0OmDRUn5_MU" type="hidden">
        <input name="form_token" value="608HcwJGDsr1i2A0EP3cy0sxXe163hB0YIjvSN5v6Vk" type="hidden">
        <input name="form_id" value="phone_apps_store" type="hidden">
      </div>
    </form>
      </form>
        </p>
        </div>

        <div class="one-third column">
          <aside class="aside-primary app-page" role="complementary">
            <div class="panel-pane pane-menu-tree pane-main-menu sub-menu">

              <div id="block-menu-menu-my-account" class="block block-menu">
                <div class="content cart">

                  <h4>Shopping cart</h4>
                  <ul class="menu" id="shopping_cart">

                           <% if (prepurchaseitems != null && prepurchaseitems.items != null && prepurchaseitems.items.length) { %>

                              <% prepurchaseitems.items.forEach(function(product){ %>

                                    <li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;"><div style="margin-left:5px"><span > <%=product.productDescription%> </span></div><div style="text-align:right"><span style=" color: #FF0000;" > <%=product.amount.amountExclVat.amount%>  <%=product.amount.amountExclVat.currency%> </span> </div></li>
                         <%  }); %>

                            <li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;" ><div><div style="margin-left:5px;margin-top:15px"><span></span></div><div style="text-align:right"><span style=" color: #FF0000;">VAT </span> <span style=" color: #FF0000;" ><%=prepurchaseitems.totalAmount.amount.vat.amount.amount%>  <%=prepurchaseitems.totalAmount.amount.vat.amount.currency %></span> </div></div></li>
                         <li class="first leaf active-trail depth-1" style="border: 1px solid #DDD;" ><div><div style="margin-left:5px;margin-top:15px"><span></span></div><div style="text-align:right"><span style=" color: #FF0000;">Total price </span> <span style=" color: #FF0000;" > <%=prepurchaseitems.totalAmount.amount.amountIncVat.amount%> <%=prepurchaseitems.totalAmount.amount.amountIncVat.currency%> </span> </div></div></li>

                        <%  } %>
                  </ul>
                  <form id="phone-apps-store" action="../account/prepurchase" method="get">
                  <div class="page-app-store" style="align: right;right-margin:10px" ><input id="edit-submit" class="form-submit" name="op"  value="Checkout" type="submit"></div>
                </form>
                </div>
              </div>

            </div>
          </aside>
        <aside class="aside-primary app-page" style="margin-top: 10px" role="complementary">
         <div class="panel-pane pane-menu-tree pane-main-menu sub-menu">
           <div class="pane-content nav nav-list nav-tabs nav-stacked">
             <div id="block-menu-menu-my-account" class="block block-menu">
               <div class="content">
                 <ul class="menu">
                   <li class="first leaf active-trail depth-1"><a href="/app-store" title="" class="active-trail active">Store</a></li>
                   <li class="leaf depth-1"><a href="../account/devices" title="">Devices</a></li>

                   <li class="last leaf depth-1"><a href="../account/logout" title="">Log out</a></li>
                 </ul>
               </div>
             </div>
           </div>
         </div>
       </aside>
        </div>

    </div>
    <% include footer.html %>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
